---
// src/components/Gallery.astro

// Định nghĩa các thuộc tính (props) mà component này sẽ nhận vào
// title: Tiêu đề chính của section
// subtitle: Tiêu đề phụ
// images: Một mảng các đối tượng chứa thông tin ảnh
export interface Props {
  title: string;
  subtitle: string;
  images: {
    src: string;
    largeSrc: string;
    alt: string;
  }[];
}

const { title, subtitle, images } = Astro.props;
const wowAnimations = ["fadeInUp", "fadeInDown", "fadeInLeft", "fadeInRight"];
---

<!-- Bắt đầu Section Thư viện ảnh -->
<section class="wpo-portfolio-section-s2 pt-1" id="gallery">
  <div class="container">
    <div class="wpo-section-title gallery-heading">
      <h1>{subtitle}</h1>
      <h3>{title}</h3>
    </div>
    <div class="sortable-gallery">
      <div class="row">
        <div class="col-lg-12">
          <div class="portfolio-grids gallery-container clearfix">
            <!-- Lặp qua mảng 'images' để hiển thị từng ảnh -->
            {
              images.map((image, index) => {
                // Chọn ngẫu nhiên một hiệu ứng từ mảng wowAnimations
                const randomAnimation = wowAnimations[Math.floor(Math.random() * wowAnimations.length)];
                return (
                  <div class="grid">
                    <div
                      class={`img-holder wow ${randomAnimation}`}
                      data-wow-duration="1200ms"
                      data-wow-delay={`${index * 200}ms`}
                    >
                      <a
                        href={image.largeSrc}
                        class="fancybox"
                        data-fancybox-group="gall-1"
                      >
                        <img
                          src={image.src}
                          alt={image.alt}
                          class="img img-responsive"
                        />
                        <div class="hover-content">
                          <i class="ti-plus" />
                        </div>
                      </a>
                    </div>
                  </div>
                );
              })
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script is:inline src="/js/custom-gallery.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", initializeGallery);
</script>
<style>
  .gallery-heading h1 {
    font-family: "Alex Brush", serif;
    color: #939580;
  }
  .gallery-heading h3 {
    font-family: "Dancing Script", serif;
  }
  @media (max-width: 767px) {
    .portfolio-grids .grid {
      width: 33.3%;
      padding: 5px !important;
    }
  }
</style>
